<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head'); %>
</head>
<body>
<%- include('../header'); -%>
<main class="container">
    <h1>List of all Categories</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i < categories.length; i++) { %>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= categories[i]._id %></td>
                <td><%= categories[i].categoryName %></td>
                <td><a href="/category/<%= categories[i]._id %>">View</a></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</main>
<%- include('../footer'); -%>
</body>
</html>