<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head'); %>
</head>
<body>
<%- include('../header'); -%>
<main class="container">
    <h1>List of all Products</h1>
    <table>
        <% for(var i=0; i < products.length; i++) { %>
            <tr>
                <td>ID : <%= products[i]._id %></td>
                <td>/ Name : <%= products[i].productName %></td>
                <td>/ Price : <%= products[i].productPrice %></td>
                <td>/ Description : <%= products[i].productDescription %></td>
                <td>/ Category : <%= products[i].productCategory %></td>
            </tr>
        <% } %>
    </table>
</main>
<%- include('../footer'); -%>
</body>
</html>